abbr {
 text-decoration: none ;
}

body {
  background-color: #f8f8ff;
  margin: 0px ;
  padding: 0px ;
}

figure {
  text-align: center;
  font-style: oblique;
}

dl dt {
  font-weight: bold;
  text-decoration: underline ;
  margin-bottom: 5px;
}

dl dd {
  margin: 0px;
}

span.highlight {
  color: #f00;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.equationDetails {
  padding-left: 30pt;
}

#head {
  /* 5381ac e5e9f0 */
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
  background-color: #5381ac;
  margin: auto;
  padding: 0.25em 1em;
}

#head > * {
  padding: 0px;
  margin: 0px;
}

#head img {
  height: 52px;
}

/* #head form #searchbar { */
/*   width: 120%; */
/*   padding: 5px 1em ; */
/*   margin-top: 10px; */
/*   margin-bottom: 10px; */
/*   /1* margin-left: 880px; *1/ */
/*   margin-left: 400%; */
/*   /1* margin-right: 100px; *1/ */

/*   border-radius: 7px; */
/*   border-width: 1px; */
/*   color: white; */
/*   background-color: rgb(83,129,172); */
/* } */

nav {
  display: flex;
  height: 2.7em;
  background-color: #eceff4;
  margin: 0px;
  border: 1px #e5e9f0 solid ;
}

.box {
  display: inline-flex;
  margin-bottom: 5rem;
}

.box #main {
  min-width: 670px;
  max-width: 880px;
  border: 1px #e5e9f0 solid ;
  border-top: 0px ;
  padding: 7em 3em 3em ;
  box-sizing: border-box ;
  background-color: #fff;
}

.box #local {
  width: 230px;
  padding: 10px 1em;
}

@media (max-width:768px) {
  #main {flex-grow: 1;}
  #local {display: none;}
  #head #searchbar {display :none;}
  #head img {margin:auto;}
}

#local h2 a:link, #local h2 a:visited, #local h2 a:active {
  color: #4c566a ;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

#local #mri:after {
  content: "" ;
  display: block;
  width: 18%;
  border-bottom: 3px solid #8fbcbb;
}

#local #ultrasound:after {
  content: "" ;
  display: block;
  width: 53%;
  border-bottom: 3px solid #8fbcbb;
}

#local #ct:after {
  content: "" ;
  display: block;
  width: 11%;
  border-bottom: 3px solid #8fbcbb;
}

#local #dr:after {
  content: "" ;
  display: block;
  width: 13%;
  border-bottom: 3px solid #8fbcbb;
}

#local ul {
  color: grey ;
  font: 16px Helvetica ;
  padding: 0px;
  list-style-type: none; 
  /* border: 1px solid lightgrey; */
}

hr.ctabelow {
  margin-top: 10em;
}

#main hr {
  border: 1px solid #eaeaea;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:auto;
}

#cta button {
  background-color: #fff;
  margin: 1.2em 0em 1em;
  color: grey;
  border-style: none;
}

#cta button#next {
  float: right;
}

#message {
  color: white;
  background-color: #3FBAC2;
  padding: 3px 2em;
}

#foot {
  background-color: #375673;
  margin: 0px;
  padding: 1.55in;
}
