# Dependency directories
node_modules/
# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local
# Built files
build/
# Coverage reports
coverage/
# NPM debug logs
npm-debug.log*
# Yarn debug logs
yarn-debug.log*
# Yarn error logs
yarn-error.log*
# Editor specific files and directories
.vscode/
.DS_Store
*.log
*.swp
Thumbs.db

