body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

#head {
  /* 5381ac e5e9f0 */
  height: 60px;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
  background-color: #5381ac;
  margin: auto;
  padding: 0.25em 1em;
}

nav {
    display: inline-flex;
    box-sizing: border-box;
    width:100%;
    height: 2.7em;
    margin: 0px;
    padding: 0px;
    background-color: #eceff4;
    overflow:hidden;
    border: 1px #e5e9f0 solid ;
}

ul.nav_items {
  margin: auto 10px auto 0px;
  padding: 0px;
}

ul.nav_items li {
    display: inline-block;
    list-style-type: none;
    padding: 2px 20px 2px;
    margin: 0px;
    font-family: Helvetica ;
    font-weight: lighter;
}

ul.nav_items a:link, ul.nav_items li a:visited, u.nav_itmes li a:active {
    text-decoration: none;
    color: grey;
}

#main {
    padding: 4em;
    margin: 4.5em;
}

div.slogan {
    text-align: center;
    font: 1.7rem Arial;
    padding: 30px;
}

div.graphical_links {
  display:inline-flex;
}

div.graphical_links img {
  margin: 5px;
}


figure {
  text-align: center;
}

#message {
  color: white;
  background-color: #3FBAC2;
  padding: 3px 2em;
}

#foot {
  background-color: #375673;
  margin: 0px;
  padding: 1.55in;
}
