:root {
  --foreground: #0F111B;
  --nav-heading: #C1C3CC;
  --clickable: #FFF;
  --dark-blue: #0D2235;
  --red: #E33400;
  --yellow: #FD0;
  --orange: #F2CE00;
  --blue: #00A3CC;
  --green: #5CCC96;
  --soft-pink: #FAF0E6;
  --soft-blue: #F1F1F1;
  --purple: #7A5CCC;
  --magenta: #CE6F8F;
  --gray: #EDEDED;
  --mid-gray: #D8D8D8;
  --dark-gray: #CCC;
  --dark-purple: #2E3459;
  --light-purple: #686F9A;
  --white: #ECF0C1;
  --pure-white: #FFF;
  --pure-black: #000;
  --bright-white: #FFD95A;
  --heading-size: 1.5rem;
}

/* Define animations */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes zoomIn {
  from { transform: scale(0); }
  to   { transform: scale(1); }
}

@keyframes slideInFromLeft { 
  from { transform: translateX(-100%); } 
  to { transform: translateX(0); }
}

@keyframes slideOutFromRight {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

/* CSS */

html,
body {
  font-size: 1vw;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Open Sans', 'Ubuntu' sans-serif; /* Add more alternative fonts */
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-purple);
  cursor: default;
  margin: 10px 0 5px;
}

a:link, 
a:active, 
a:visited {
  color: inherit;
  text-decoration: none;
}

.master li, .master p {
  font-size: 1.2rem;
}

.difficulty {
  color: var(--red);
}

.difficulty::before {
  content: " Level: ";
}

a.need-attention {
  color: blue;
  text-decoration: underline;
}

nav {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: row-reverse;
  overflow:hidden;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--nav-heading);
  background-color: var(--dark-purple);

}

.menu-btn {
  display: none;
}

nav img{
  margin: 0.20rem 1.0rem;
  max-width: 10%;
  object-fit: scale-down;
}

ul.nav_items {
  margin: auto 1rem auto 0;
  padding: 0;
  cursor: pointer;
}

ul.nav_items li {
  display: inline-block;
  list-style-type: none;
  padding: 0.80rem;
  margin: 0;
  font: bold 1.10rem 'Fira Code', monospace;
}

ul.nav_items a:hover {
  color: var(--clickable); 

}

/* ul.nav_items a.active {
  color: var(--dark-gray); 
} */

ul.terms a:hover {
  color: var(--gray); 
  text-decoration: underline;
}

div#main {
  width: 100%;
  min-height: 95vh;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}


#leftsidebar {
  width: 25%;
  height: auto;
  background-color: var(--foreground);
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  cursor: default;
}

.headings {
  color: var(--green);
  font: bold 1.50rem 'Fira Code', monospace;
  list-style-type: none;
  margin:0;
  padding: 0.75rem;
}

.subtopics {
  color: var(--mid-gray);
  font: lighter 1.25rem 'Fira Code', monospace;
  list-style-type: none;
  margin: 0 ;
  padding: 0.30rem;
}

.subtopics li {
  margin-bottom: 0.15rem;
}

.subtopics li:hover {
  color: var(--pure-white);
  text-decoration: underline;
  /* text-decoration: underline dashed; */
}

.pilot-master-wrapper {
  display: flex;
  width: 100%;
}

.master {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 3rem;
}

.master.terms {
  width: 60%;
  margin-left: -1rem;
}

.ordered_headings li{
  margin-left: 2.5rem;
}

.ordered_headings ol,
.ordered_subheadings li{
  margin: 2rem;
  margin-left: 0;
}

.ordered_headings ol,
.master.terms p {
  font-size: 1.30rem;
}

.ordered_headings {
  list-style-type: upper-alpha;
  font-size: 2rem;
}

.ordered_subheadings li {
  font-size: 1.95rem;
}

#ads {
  position: relative;
  width: 25%;
  height: auto;
  background-color: var(--gray);
}

div.coffee {
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  background-color: var(--orange);
  border-radius: 10px;
}

div.coffee p {
  margin: 5px;
}

div.coffee img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  overflow: scroll;
}

.copyright-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: auto;
  padding: 0.25rem 1.25rem;
  background-color: var(--dark-blue);
  color: var(--gray);
}

ul.terms li {
  font: inherit;
}

ul.terms li:not(:last-child)::after {
  content: "|";
  width: 1px;
  margin-left: 10px;
}

ul.terms li {
  padding-left: 0;
}

ul.terms li:first-child {
  padding-left: 10px;
}

.faq { 
  font: 1.1rem 'Fira Code', monospace;
}

.faq {
  list-style-type: none;
  display: flex;
}

.faq::before {
  margin-right: 5px;
}

.faq.q::before {
  content: "Q:";
}

.faq.a::before {
  content: "A:";
}

/* Semesters */

.congroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: auto;
  height: auto;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}

.main_heading,
.ordered_headings
{
  color: var(--dark-purple);
  display: inline-block;
  width: fit-content;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
  position: relative;
}

.main_heading {
  font-size: 2.5rem;
}

h2.main_heading {
  margin-bottom: 0;
}

.options.card {
  height: 12rem;
  width: 7rem;
  margin: 0;
  padding: 5rem;
  border: solid var(--foreground) 1.50px;
  transition-duration: 0.30s;
  position: relative;
  display: flex;
}

.card:hover {
  box-shadow: -5px 5px var(--dark-blue);
  transform: translate(8px, -8px);
}

.card p {
  cursor: default;
  font: normal 1.1rem 'Fira Code', monospace;
  display: inline-block;
  padding: 0.4rem 1rem;
  position: absolute;
  padding-top: 5rem;
  min-width: 88%;
  top: 1;
  left: 0;
}

span.info {
  display: flex;
  color: var(--pure-black);
  font-size: 0.8rem;
  margin-top: 1rem;
}

.card .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card .img-container img {
  max-width: 100%;
  min-height: 10rem;
  object-fit: cover;
  border-bottom: 1px solid gray;
}


.img-cover {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: -2rem 3rem 3rem; /* Get this -2rem from .master above */
  border: 1px solid black;
  border-top: 0;
  animation: zoomIn 300ms ease-in-out;
}

.img-cover img {
  max-width: 100%;
  max-height: 100%;
}


/* Quiz */

#result{
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
}

#result span{
  flex-grow: 5000;
  flex-basis: 0;
}

span#score{
  flex-basis: auto;
  flex-grow: 1;
}

.pass {
  color: green;
  margin-left: 8px;
}

.fail {
  color: red;
  margin-left: 8px;
}

h3#set{
  display: flex;
}

h3#set span {
  margin-left: auto;
  text-align: right;
}

li.questions,
.choices { 
  font-size: 1.2rem;
  margin-left: -1.5rem;
}

li.questions:not(:first-child) { 
  margin-top: 1.5rem;
}

.choices {
  padding: 0 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.choices li {
  counter-increment: my-counter;
  padding: 2px;
  display:flex;
}

div#answers {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  align-self: baseline;
  margin: 3.50px 5px 0 0;
}

.choices label {
  display: flex;
  align-items: baseline;
}


#buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--dark-gray);
  margin: 2px;
}

button#next {
  margin: 1rem;
  min-width: 65px;
}

button#previous {
  margin: 1rem;
  min-width: 65px;
}

button#submit{
  background-color: var(--orange);
  margin: 1rem;
  width: auto;
  margin-left: auto;
}

button#submit:hover {
  color: #000;
  font-weight: 500;
}

.feedback {
  font-weight: bold;
  padding-left: 5px;
  display: inline;
}

.feedback.correct{
  color: green;
}

.feedback.incorrect {
  color: var(--red);
}

.submitted.correct {
  font-weight: bold;
}

.buttons {
  background-color: var(--dark-gray);
  color: #282828;
  font-size: 14px;
  padding: 8px;
  margin: 0.9rem 1.5rem 0;
  border: none;
  border-radius: 4px;
}

#expand {
  background-color: var(--green);
  color: white;
  font-size: 14px;
  padding: 8px;
  margin-left: 1.5rem;
}

.buttons.expand {
  background-color: var(--green);
  color: white;
}

.expand::before {
  content: "\25B6";
  margin-right: 8px;
}

.expand.expanded::before {
  content: "\25BC";
  margin-right: 8px;
}

.explanation {
  color: gray;
  border: 1px solid var(--green);
  padding: 10px;
  margin-left: 1.5rem;
  width: 90%;
  transform: scale(1);
  animation: zoomIn 500ms ease-in-out;
}

button#viewUnanswered {
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: var(--blue);
  border: none;
  cursor: pointer;
}

.popup {
  position: relative;
  z-index: 1;
  display: none;
  background-color: var(--soft-blue);
  width: 50%;
  height: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1rem;
  margin: 1rem;
  transition: opacity 0.3s ease-in-out;
}

.popup.show {
  display: block;
}

.comma-list {
  list-style-type: none; 
  display: inline;
  margin: 0;
  padding: 0;
}

.comma-list li {
  display: inline-block;
  margin: 2px;
  padding: 8px;
}

.animate li {
  animation: zoomIn 500ms ease-in-out;
}


.comma-list li:last-child {
  margin-right: 0;
}

.comma-list li::after {
  content: ",";
}

.comma-list li:last-child::after {
  content: "";
}

.loading {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px dotted #f2f2f2;
  border-top-color: #555;
  animation: spin 1.5s linear infinite;
  margin: 20px auto;
}

@media(max-width: 768px) {

  html {
    overflow-x: hidden;
  }

  nav {
    width: 100%;
    margin: 0;
    height: auto;
    align-items: center;
  }

  nav img {
    max-width: 23%;
    object-fit: cover;
    margin: 0 auto;
  }

  /* Hamburger menu */

  .menu-btn {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    width: 27px;
    background-color: transparent;
    border: none;
  }

  .hamburger {
    display: block;
    height: 2.5px;
    margin-bottom: 4px;
    background-color: #c7c9d1;
    transition: transform 0.3s ease-in-out;
  }

  .menu-btn:hover .hamburger {
    background-color: #fff;
  }

  .hamburger:last-child {
    margin-bottom: 0;
  }

  nav ul {
    display: none;
  }

  div#main {
    flex-direction: column;
    position: relative;
    align-items: center;
    height: auto;
    width: 100%;
    height: 100%;
  }

  #leftsidebar {
    display: none;
    width: 37%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 5;
    margin: 0;
    padding: 1rem;
    padding-top: 2rem;
    margin-top: calc(-0.05vh - 0.23rem);
  }

  #leftsidebar.active {
    display: block;
    transform: translateX(0);
    animation: slideInFromLeft 0.3s ease-in-out;
  }

  #leftsidebar.inactive {
    display: block;
    transform: translateX(-100%);
    animation: slideOutFromRight 0.3s ease-in-out;
  }

  .headings {
    font-size: calc(3.0rem);
    padding-top: 0.75rem;
  }

  .subtopics {
    font-size: 2.5rem;
  }

  .overlay.active {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 111, 154, 0.85);
    margin-top: calc(-0.05vh - 0.23rem);
  }

  .pilot-master-wrapper {
    width: 95%;
    font-size: 3.0rem;
    flex-direction: column;
  }

  .master {
  }

  .master.terms {
    width: 80%;
  }

  #ads {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  div.coffee {
    height: auto;
    width: 30%;
    margin: 0 auto;
  }

  div.coffee p {
    display: none;
  }

  .copyright-info{
    font-size: 1.7rem;
  }
  /* Semesters */

  .congroup {
    margin-top: 5rem;
    display: flex;

  }

  .grid-container {
    margin: 6rem 3rem;
    grid-gap: 4rem;
  }

  h1.main_heading{
    font-size: 4rem;
  }


  .options {
    height: 16.5rem;
    width: 16.5rem;
  }


  .options p {
    font-size: 2rem;
    padding: 2rem;
  }


  /* Quiz */

  ol {
    padding-left: 8rem;
  }

  li.questions, .choices
  { 
    font-size: 3rem;
  }

  li.questions { 
    margin-top: 2rem;
  }

  li.questions:not(:first-child) { 
    margin-top: 5rem;
  }

  input[type="radio"] {
    margin-top: 1.3rem;
  }

  button#submit {
    background-color: var(--orange);
    margin: 1rem;
    width: auto;
    margin-left: auto;
  }

  .feedback {
    font-weight: bold;
    font-size: calc(1.3rem * 2.4);
    padding-left: calc(3px *2);
    margin-top: 0.4rem;
  }


  #expand {
    background-color: var(--green);
    color: white;
    font-size: 14px;
    padding: 8px;
  }

  .buttons.expand {
    background-color: var(--green);
    color: white;
    margin-left: 3rem;
  }

  .expand::before {
    content: "\25B6";
    margin-right: 8px;
  }

  .expand.expanded::before {
    content: "\25BC";
    margin-right: 8px;
  }

  .explanation {
    color: gray;
    border: 1px solid var(--green);
    padding: 10px;
    margin-left: 1.5rem;
    width: 90%;
    transform: scale(1);
    animation: zoomIn 500ms ease-in-out;
  }

  button#viewUnanswered {
    background-color: transparent;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    color: var(--blue);
    border: none;
    cursor: pointer;
  }

  .popup {
    position: relative;
    z-index: 1;
    display: none;
    background-color: var(--soft-blue);
    width: 250px;
    height: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1rem;
    margin: 1rem;
    transition: opacity 0.3s ease-in-out;
  }

  .popup.show {
    display: block;
  }

  .comma-list {
    list-style-type: none; 
    display: inline;
    margin: 0;
    padding: 0;
  }

  .comma-list li {
    display: inline-block;
    margin: 2px;
    padding: 8px;
  }

  .animate li {
    animation: zoomIn 500ms ease-in-out;
  }


  .comma-list li:last-child {
    margin-right: 0;

  }

  .comma-list li::after {
    content: ",";
  }

  .comma-list li:last-child::after {
    content: "";
  }

  .faq, 
  .disclaimer {
    font-size: 2.5rem;
  }

.master li, .master p {
  font-size: 2.9rem;
}

}

@media only screen and (max-width: 600px) {

  .menu-btn {
    margin: 3rem;
  }
  #leftsidebar {
    width: 48%;
  }

  .headings {
    font-size: calc(1vw + 3.0rem);
  }

  .subtopics {
    font-size: calc(1vw + 2.5rem);
  }

  input[type="radio"] {
    margin-top: 2px;
  }

}
