:root {
  --background: #FBFCF3;
  --foreground: #0F111B;
  --nav-heading: #C1C3CC;
  --dark-blue: #0D2235;
  --dark-orange: #FF6000;
  --red: #E33400;
  --yellow: #FD0;
  --orange: #F2CE00;
  --cyan: #00A3CC;
  --blue: #9AC5F4;
  --green: #5CCC96;
  --soft-pink: #FAF0E6;
  --soft-blue: #F1F1F1;
  --purple: #7A5CCC;
  --magenta: #CE6F8F;
  --gray: #EDEDED;
  --mid-gray: #ECECEC;
  --dark-gray: #CCC;
  --dark-purple: #2E3459;
  --light-purple: #686F9A;
  --white: #ECF0C1;
  --pure-white: #FFF;
  --pure-black: #000;
  --pure-green: #0F0;
  --bright-white: #FFD95A;
}

/* General Styles */

html,
body {
  font-family: 'Open Sans';
  max-width: 100%;
  overflow-x: hidden;
  font-size: 1vw;
  /* background-color: var(--background); */
}



h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a:link, 
a:active, 
a:visited {
  color: inherit;
  text-decoration: none;
}


.difficulty {
  color: var(--red);
}

.difficulty::before {
  content: " Level: ";
}

a.need-attention:link {
  color: blue;
  text-decoration: underline;
}

a.need-attention:visited {
  color: purple;
}

/* Navigation */

nav {
  color: var(--nav-heading);
  background-color: var(--dark-purple);
  width: 100%;
  min-height: 42px;
  max-height: 42px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10000;
}


nav img {
  max-width: 10rem;
  object-fit: scale-down;
  margin: 0.20rem 1.0rem;
}

nav ul,
ul.nav_items {
  margin: 0 1rem auto 0;
  padding: 0;
  cursor: pointer;
}

nav ul a:hover {
  color: var(--pure-white); 

}

.nav_items li {
  display: inline-block;
  list-style-type: none;
  padding: 0.80rem;
  margin: 0;
  font: bold 1.10rem 'Fira Code', monospace;
}

/* Hamburger Menu */

.menu-btn {
  width: 27px;
  background-color: transparent;
  border: none;
  margin-left: 1rem;
}

.menu-btn,
.overlay.active {
  display: none;
}

.hamburger {
  display: block;
  height: 2.5px;
  margin-bottom: 4px;
  background-color: #c7c9d1;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.menu-btn:hover .hamburger {
  background-color: #fff;
}

.hamburger:last-child {
  margin-bottom: 0;
}


/* Layout */

div#main {
  color: var(--foreground);
  background-color: var(--background);
  padding: 0;
  margin-top: -1.53px;
  min-height: 95vh;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
}

#leftsidebar {
  min-width: fit-content;
  width: 25%;
  height: auto;
  background-color: var(--foreground);
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  cursor: default;
}


.headings,
.subtopics {
  width: fit-content;
  margin: 0;
  padding: 0.50rem;
  font-family: 'Fira Code', monospace;
  list-style-type: none;
}

.headings {
  color: var(--green);
  font-size: 1.50rem;
  font-weight: bold;
}

.subtopics {
  color: var(--mid-gray);
  font-size: 1.25rem;
  font-weight: lighter;
}

.subtopics li {
  margin-bottom: 0.15rem;
}

.subtopics li:hover {
  color: var(--pure-white);
}

.overlay.active {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(104, 111, 154, 0.85);
}

.pilot-master-wrapper {
  display: flex;
  margin: 0;
}

.master {
  position: relative;
  width: 80%;
  margin: 2rem 0 5rem;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.master.no-sidebar {
  width: 60%;
  font-size: 1.30rem;
}

/* TODO Fix this */
#leftsidebar, 
.overlay.active,
.master {
  overflow: scroll;
  scrollbar-width: thick;
  scrollbar-border: red;
  scrollbar-color: transparent transparent;
}

#ads {
  position: relative;
  width: 25%;
  height: auto;
  background-color: var(--gray);
}

.promotions {
  max-width: 100%;
  max-height: auto;
  margin: 2rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* text-align: center; */
}

.promotions p {
  margin: 5px;
}

.promotions.coffee {
  text-align: center;
  border-radius: 10px;
  background-color: var(--yellow);
}

.promotions.tux {
  background-color: var(--green);
}




div#ads img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  overflow: scroll;
}

.copyright-info {
  position: absolute;
  bottom: 10;
  left: 0;
  height: auto;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: var(--gray);
  align-items: center;
  background-color: var(--dark-blue);
}

.copyright-info * {
  padding: auto;
}


ul.terms a:hover {
  color: var(--gray); 
  text-decoration: underline;
}

ul.terms li {
  font: inherit;
}

ul.terms li:not(:last-child)::after {
  content: "|";
  width: 1px;
  margin-left: 10px;
}

ul.terms li {
  padding-left: 0;
}

ul.terms li:first-child {
  padding-left: 10px;
}

/* Component Specific CSS */

.ordered_headings {
  list-style-type: upper-alpha;
}

.ordered_headings li {
  margin-left: 2.5rem;
  font-size: 2rem;
}

.ordered_headings li p {
  font-size: 1.3rem;
}

.ordered_headings ol,
.ordered_subheadings li{
  margin: 2rem;
  margin-left: 0;
}

.faq { 
  font-family: 'Fira Code', monospace;
}

.faq {
  list-style-type: none;
  display: flex;
}

.faq::before {
  margin-right: 5px;
}

.faq.q::before {
  content: "Q:";
}

.faq.a::before {
  content: "A:";
}

/* Cards */

.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2.0rem;
  grid-column-gap: 2.2rem;
}

.options.card {
  position: relative;
  width: 7rem;
  height: 10rem;
  margin: 0;
  padding: 5rem;
  display: flex;
  border: solid var(--foreground) 1.50px;
  transition-duration: 0.30s;
}

.card:hover {
  box-shadow: -5px 5px var(--dark-blue);
  transform: translate(8px, -8px);
}

.card p {
  cursor: default;
  font: normal 1.1rem 'Fira Code', monospace;
  display: inline-block;
  padding: 0.4rem 1rem;
  position: absolute;
  padding-top: 5rem;
  min-width: 88%;
  top: 1;
  left: 0;
}

#rule {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--dark-gray);
  margin: 2px;
}

span.info {
  display: flex;
  color: var(--pure-black);
  font-size: 0.8rem;
  margin-top: 1rem;
}

.card .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card .img-container img {
  max-width: 100%;
  min-height: 10rem;
  object-fit: cover;
  border-bottom: 1px solid gray;
}

.main_heading,
.ordered_headings
{
  color: var(--dark-purple);
  display: inline-block;
  width: fit-content;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}

.main_heading {
  font-size: 2.5rem;

}

h2.main_heading {
  margin-bottom: 0;
}



.img-cover {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: -2rem 3rem 3rem; /* Get this -3rem from .master above */
  border: 1px solid black;
  border-top: 0;
  animation: zoomIn 300ms ease-in-out;
}

.img-cover img {
  max-width: 100%;
  max-height: 100%;
}


/* Quiz */

li.questions,
.choices { 
  font-size: 1.3rem;
}

li.questions:not(:first-child) { 
  margin-top: 2rem;
}

div#answers {
  display: inline-flex;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  position: relative;
  margin-top: calc(0.5vh + 2px);
  margin-right: 5px;
}

input[type="radio"]:hover {
  box-shadow: 0 0 3px 3px rgba(26, 188, 156, 0.3);
}

.choices {
  padding: 0 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.choices li {
  counter-increment: my-counter;
  padding: 2px;
  display:flex;
}

.choices label {
  display: flex;
  align-items: baseline;
}

#result{
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

#result span {
  flex-grow: 5000;
  flex-basis: 0;
}

span#score {
  flex-basis: auto;
  flex-grow: 1;
}

.pass {
  color: green;
  margin-left: 8px;
}

.fail {
  color: red;
  margin-left: 8px;
}

h3#set{
  display: flex;
}

h3#set span {
  margin-left: auto;
  text-align: right;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--dark-gray);
  margin: 2px;
}

button#next {
  margin: 1rem;
  min-width: 65px;
}

button#previous {
  margin: 1rem;
  min-width: 65px;
}

button#submit{
  width: 100px;
  padding: 0.75rem;
  margin: 2rem 0 2rem auto;
  font-size: 1.3rem;
  color: #A0D8B3E;
  background-color: var(--orange);
}

button#submit:hover {
  color: #000;
  font-weight: 500;
}

.feedback {
  padding-left: 5px;
  display: inline;
}

.feedback.correct{
  color: var(--pure-green);
}

.feedback.incorrect {
  color: var(--red);
}

.submitted.correct {
  font-weight: bold;
}

.buttons {
  background-color: var(--dark-gray);
  color: #282828;
  font-size: 1rem;
  padding: 10px;
  margin: 0.9rem 1.5rem 0;
  border: none;
  border-radius: 4px;
}

.buttons.expand {
  background-color: var(--green);
  color: var(--pure-white);
  margin-left: 3rem;
}

.expand::before {
  content: "\25B6";
  margin-right: 8px;
}

.expand.expanded::before {
  content: "\25BC";
  margin-right: 8px;
}

.explanation {
  color: black;
  border: 1px solid var(--green);
  padding: 10px;
  margin-left: 1.5rem;
  width: 90%;
  transform: scale(1);
  animation: zoomIn 500ms ease-in-out;
}

button#viewUnanswered {
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: var(--cyan);
  border: none;
  cursor: pointer;
}

#popup {
  position: relative;
  z-index: 1;
  display: none;
  background-color: var(--soft-blue);
  width: 50%;
  height: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1rem;
  margin: 1rem;
  transition: opacity 0.3s ease-in-out;
}

#popup.show {
  display: block;
}

.comma-list {
  list-style-type: none; 
  display: inline;
  margin: 0;
  padding: 0;
}

.comma-list li {
  display: inline-block;
  margin: 2px;
  padding: 8px;
}

.animate li {
  animation: zoomIn 500ms ease-in-out;
}


.comma-list li:last-child {
  margin-right: 0;
}

.comma-list li::after {
  content: ",";
}

.comma-list li:last-child::after {
  content: "";
}

li + img.figure {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0.50rem auto;
  scale: 0.95;
}

table.quiz {
  width: 90%;
  margin: 12px auto;
  border-collapse: collapse;
}

table.quiz th {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

table.quiz td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}
table.quiz thead th:first-child {
  text-align: left;
  width: 34%;
}

table.quiz thead th:not(:first-child) {
  text-align: center;
  width: 12%;
}


.loading {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 4px dotted #f2f2f2;
  border-top-color: #555;
  animation: spin 1.5s linear infinite;
  margin: 20px auto;
}

/* Responsive Styles */

/* @media (max-width: 1399.98px) {

} */


  @media (max-width: 1199.98px) {
    /* CSS styles for a viewport width of 1200px or less */

    html,
    body {
      font-size: 16px;
    }

    /* Navigation */

    .menu-btn,
    .overlay.active {
      display: block;
    }
    /* Layout */

    #leftsidebar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom:0;
      z-index: 3;
      display: none;
    }

    #leftsidebar.active {
      display: block;
      transform: translateX(0);
      animation: slideInFromLeft 0.3s ease-in-out;
    }

    #leftsidebar.inactive {
      display: block;
      transform: translateX(-100%);
      animation: slideOutFromRight 0.3s ease-in-out;
    }


    .pilot-master-wrapper {
      flex-direction: column;
    }

    .master {
      min-height: 90vh;
    }

    .master.no-sidebar {
      width: 80%;
    }

    #ads {
      width: 100%;
    }

    .promotions {
      max-width: 30%;
      margin: 1rem auto;
    }

    /* Cards */

    .grid-container {
      margin-top: 3rem;
    }

    .options.card {
      width: 8rem;
      height: 12rem;
      margin: -0.25rem;
      padding: 4rem;
    }

    .card p {
      padding-top: 6rem;
    }

    /* Quiz */

    li.questions,
    .choices { 
      font-size: 1.5rem;
    }



  }

  @media(max-width: 991.98px) {

    html,
    body {
      font-size: 14px;
    }

    nav img {
      margin: 0.20rem auto;
    }

    nav ul {
      display: none;
    }

  }

  @media(max-width: 767.98px) {
    html,
    body {
      font-size: 13px;
    }

    #leftsidebar {
      width: 30%;
    }
  }


  @media(max-width: 727.98px) {
    html,
    body {
      font-size: 14px;
    }

    .grid-container {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2.0rem;
    }

  }

  @media (max-width: 639.97px),
  {

    .master {
      padding: 0 2.5rem;
    }

    .grid-container {
      padding: 0 2.5rem;
    }


  }

  @media only screen and (max-width: 575.98px) {

    html,
    body {
      font-size: 3.0vw;
    }

    .master {
      padding: 0 2rem;
    }

    #leftsidebar {
      width: 50%;
    }

    .copyright-info {
      flex-direction: column-reverse;
    }
  }

  /* Define animations */

  @keyframes spin {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  }


  @keyframes zoomIn {
    from {
      transform: scale(0); 
    }
    to   {
      transform: scale(1); 
    }
  }

  @keyframes slideInFromLeft { 
    from {
      transform: translateX(-100%); 
    } 
    to {
      transform: translateX(0); 
    }
  }

  @keyframes slideOutFromRight {
    from {
      transform: translateX(0); 
    }
    to {
      transform: translateX(-100%); 
    }
  }

