:root {
  --background: #FDFDF7;
  --foreground: #0F111B;
  --nav-heading: #777DA4;
  --current-page: #C1C3CC;
  --dark-blue: #0D2235;
  --red: #E33400;
  --yellow: #FD0;
  --orange: #F2CE00;
  --blue: #00A3CC;
  --green: #5CCC96;
  --ivory: #FFFFF0;
  --soft-pink: #FAF0E6;
  --soft-blue: #F1F1F1;
  --purple: #B3A1E6;
  --magenta: #CE6F8F;
  --gray: #E8E8DF;
  --dark-gray: #CCC;
  --dark-purple: #2E3459;
  --light-purple: #686F9A;
  --white: #ECF0C1;
}

html {
  font-size: 1vw;
}

body {
  background-color: var(--ivory);
  color: var(--foreground);
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

/* Navigation Bar */

nav {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row-reverse;
    overflow:hidden;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--nav-heading);
    background-color: var(--dark-purple);
}

nav img{
  margin: 0.20rem 1.0rem;
  max-width: 10%;
  object-fit: scale-down;
}

nav > ul.nav_items {
  margin: auto 1rem auto 0;
  padding: 0;
}

ul.nav_items li {
    display: inline-block;
    list-style-type: none;
    padding: 0.9rem;
    margin: 0;
    font: bold 1.10rem 'Fira Code', monospace;
}

a:link, 
a:active, 
a:visited {
  color: inherit;
  text-decoration: none;
}

h3, h4 {
  display: flex;
  align-items: center;
}

.pass {
  color: green;
  margin-left: 8px;
}

.fail {
  color: red;
  margin-left: 8px;
}
h3 span {
  margin-left: auto;
  text-align: right;
}



ul.nav_items li.active {
  color: var(--current-page);
}

section {
  width: 100%;
  /* height: auto; */
  display: flex;
  margin: 0;
  padding: 0;
}

#leftsidebar {
  width: 25%;
  height: auto;
  background-color: var(--foreground);
  color: var(--white);
  width:30%;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  cursor: default;
}

.headings {
  color: var(--green);
  font: bold 1.15rem 'Fira Code', monospace;
  list-style-type: none;
  margin:0;
  padding: 0.75rem;
}

.headings > li {
  /* text-decoration: underline; */
}

.subtopics {
  color: var(--white);
  font: lighter 1.08rem 'monospace';
  list-style-type: none;
  margin: 0 ;
  margin-bottom: 0.90rem;
  padding: 0.30rem;
}

.subtopics > li {
  margin-bottom: 0.15rem;
}

.subtopics > li:hover {
  text-decoration: underline;
}

/* Main */

#main {
  width: 80%;
  min-height: 690px;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.dropdown {
  grid-template-columns: repeat(2, 0.5fr);
  width: 50%;
  padding: 0;
  margin: -1rem 1.5rem 1.5rem;
}

#semesters {
  width: 50%;
  height: auto;
  margin: 0 0 1.8rem;
  padding: 0.25rem;
  border: solid 1px var(--foreground);
  background-color: var(--gray);
  
}

.grid-container {
  width: auto;
  height: auto;
  margin: 0 1.5rem;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}

.options {
  height: 5rem;
  width: 5rem;
  margin: 0;
  padding: 5rem;
  background-color: var(--background);
  border: solid var(--foreground) 2px;
  text-align: center;
  transition-duration: 0.30s;
}

.options:hover {
  box-shadow: -5px 5px var(--dark-blue);
  transform: translate(8px, -8px);

}

nav > ul.nav_items {
  cursor: pointer;
}

.options p {
  cursor: default;
}

/* Advertisements */

#ads {
  width: 30%;
  height: auto;
  background-color: var(--gray);
}

div.coffee {
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  background-color: var(--yellow);
  border-radius: 10px;
}

div.coffee img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  overflow: scroll;
}

/* Copyright */

.copyright-info{
  height: auto;
  padding: 0.25rem 1.25rem;
  background-color: var(--dark-blue);
  color: var(--gray);
}

/* Quiz */

li.questions, .choices { 
  font-size: 1.1rem;
}

li.questions { 
  margin-top: 2rem;
}

.choices {
  margin: 5px;
  list-style-type: lower-alpha;
}

.choices li {
  position: relative;
  padding: 3px;
}

input[type="radio"] {
  position: absolute; 
  top: 40%; 
  transform: translateY(-50%); 
  left: -40px; 
}

#buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--dark-gray);
  /* margin: 2em 0 2em; */
  margin: 2px;
  
}

button#next {
  margin: 1rem;
  width: 10%;
}

button#previous {
  margin: 1rem;
  width: 11%;
}

button#submit{
  background-color: var(--orange);
  margin: 1rem;
  width: 15%;
  margin-left: auto;
}


.feedback {
  font-weight: bold;
  font-size: 1.3rem;
  padding-left: 5px;
}

.feedback.correct{
  color: green;
}

.feedback.incorrect {
  color: var(--red);
}

.submitted.correct {
  font-weight: bold;
}

.buttons {
  background-color: var(--dark-gray);
  color: #282828;
  font-size: 14px;
  padding: 8px;
  margin: 0.9rem 1.5rem 0;
  border: none;
  border-radius: 4px;
}

#expand {
  background-color: var(--green);
  color: white;
  font-size: 14px;
  padding: 8px;
  margin-left: 1.5rem;
}

.buttons.expand {
  background-color: var(--green);
  color: white;
}

.expand::before {
  content: "\25B6";
  margin-right: 8px;
}

.expand.expanded::before {
  content: "\25BC";
  margin-right: 8px;
}

.explanation {
  color: gray;
  border: 1px solid var(--green);
  padding: 10px;
  margin-left: 1.5rem;
  width: 90%;
  transform: scale(1);
  animation: zoomIn 500ms ease-in-out;
 }

@keyframes zoomIn {
  from { transform: scale(0); }
  to   { transform: scale(1); }
}

button#viewUnanswered {
  /* width: 20%; */
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: var(--blue);
  border: none;
  cursor: pointer;
}

.popup {
  position: relative;
  z-index: 1;
  display: none;
  background-color: var(--soft-blue);
  width: 50%;
  height: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1rem;
  margin: 1rem;
  transition: opacity 0.3s ease-in-out;
}

.popup.show {
  display: block;
}

.comma-list {
  list-style-type: none; 
  display: inline;
  margin: 0;
  padding: 0;
}

.comma-list li {
  display: inline-block;
  margin: 2px;
  padding: 8px;
}

.animate li {
  animation: zoomIn 500ms ease-in-out;
}


.comma-list li:last-child {
  margin-right: 0; /* Remove the margin from the last item */

}

.comma-list li::after {
  content: ","; /* Add empty content after each list item */
}

.comma-list li:last-child::after {
  content: ""; /* Add empty content after each list item */
}



@media(max-width: 768px) {

  html {
    font-size: 1.75vw;
    overflow-x: hidden;
  }


  nav img {
    max-width: 23%;
    object-fit: cover;
  }

  nav {
    width: 100%;
    margin: 0;
    height: auto;
    justify-content: center;
  }

  /* Show a hamburger menu with the navigation items */

  nav ul {
    display: none;
  }

  section {
    flex-direction: column;
    align-items: center;
  }

  section #leftsidebar {
    display: none;
  }

  #main {
    width: 100%;
  }

  #ads {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  div.coffee{
    width: 20%;
    margin: 1rem;
    margin: 1rem auto;
  }

  div.coffee p {
    display: none;
  }

}

